mycroft-messagebus-client~=0.9,>0.9.3
neon-utils~=0.16
#neon-messagebus-mq-connector~=0.0.2a1
neon-messagebus-mq-connector @ git+https://github.com/neongeckocom/neon-messagebus-mq-connector@FEAT_LegacyServerAudioHandling
ovos-core[bus]~=0.0.2a5